
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  html{
    scroll-behavior: smooth;
    scroll-padding: 10rem;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    text-decoration: none;
  }
  header{
    z-index: 1000;
    position: relative;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    transition: 0.5s ease;
    background: #167fac ;
    height: 60px;
    position: fixed;
    box-shadow: 0  10px 30px rgba(35, 35, 35, 0.659);
  }
  header .logo{
    width: 15%;
    margin: 0;
    padding: 0;
  }
   header .giving{
    background: #ffffff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: rgb(1, 19, 63);
    position: absolute;
    border-radius: 7px;
    border: none;
    border-color: #ffffff00;
    border-style: solid;
    padding: 7px 20px;
    right: 350px;
    cursor: pointer;

  }
  .giving:hover{
    transition: all 0.4s ease;
  }
  .giving:active{
    background: #0899e7cf;
  }
   header .livestream{
    background: #ffffff00;
    text-align: center;
   
    position: absolute;
    border-radius: 7px;
    border-style: solid;
    border: none;
    padding: 7px 20px;
    right: 200px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .livestream:hover{
    background: #fa0101;
    transition: all 0.4s ease;
  }
  .livestream:active{
    background: #ff00005a;
  }
  header .livestream a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
  }








/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 70px;
  right: 35px;
  border: none;
  z-index: 9;
  box-shadow: 3px 8px 25px rgba(0, 0, 0, 0.542);
  

}

/* Add styles to the form container */
.form-cont {
  max-width: 300px;
  padding: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
.form-cont h1{
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.form-cont .transfer{
  width: 100%;
  text-align: left;
  color: #470000;
  font-size: 15px;
}





/* Set a style for the pay button */
.form-cont .btn-0pen {
  background: #010021;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 5px;
  opacity: 0.8;
  transition: ease 0.3s;

}

.form-cont .btn-0pen a{
  color: #fff;
  font-size: 20px;
}

/* Add a red background color to the cancel button */
.form-cont .btn-cancel {
  background: red;
  color: #fff;
  font-size: 12px;
  transition: ease 0.3s;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/* Add some hover effects to buttons */
.form-cont .btn-0pen:hover, .btn-cancel:hover {
  opacity: 1;
  
}

















  header .navigation{
    position: relative;
    display: none;
  }
  header .navigation .navigation-item a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s;
  }
  header .navigation .navigation-item a:before{
    content: '';
    position: absolute;
    background: #ffffff;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }


  /*............................................ the Header menu bar navigation ......................... */

  .menu-btn{
    background: url(menu.svg)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
   .menu-btn.active{
    z-index: 999;
    background: url(close.svg)no-repeat;
     background-size: 30px;
     background-position: left;
    transition: 0.3s ease;
    width: 40px;
    height: 40px;
   }
  header .navigation .navigation-item a:hover:before{
    width: 100%;
  }
  header .navigation .navigation-item a:active{
    opacity: 0.7;
  }
  header .navigation.active{
    display: flex;
    width: 100%;
    height: 103.5vh;
    top: 0;
    left: 0;
    align-items: center;
    background: rgba(1, 1, 0, 0.5);
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  header .navigation .navigation-item a{
    color:#222;
    font-size: 1.2em;
    margin: 20px;
  }
  header .navigation .navigation-item a:before{
    background: #222;
    height: 2px;
  }
  header .navigation.active .navigation-item{
      display: flex;
      align-items: center;  
      background: #fff;
      padding: 40px;
      flex-direction: column;
      border-radius: 5px;
      margin: 60px;
      position: center;
      width: 60%;
      max-width: auto;
      top: 80px;
      left: 70px;
      box-shadow: 0 5px 25px rgba(1,1,1,20%);
      align-items: center;           
    }
  section{
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .home{
    position: relative;
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;
    padding: 100px 100px;
    height: 100vh;
  }
  .home:before{
    z-index: 777;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #011f3599;
  }
  .home .content{
    z-index: 888;
    color: #ffffff;
    width: 70%;
    margin-top: 50px;
    display: none;
  }
  .home .content.active{
    display: block;
  }
  .home .content h1{
    font-size: 3.5em;
    font-weight: 700;


    line-height: 60px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .home .content h1 span{
    font-weight: 900;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  .home .content p{
    margin-bottom: 65px;
  }
  .home .content a{
    padding: 10px 30px;
    background: #ffffff;
    color: #1680ac;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 2px;
    transition: 0.3s ease;
    border: 2px;
    border-radius: 3px;
    border-color: #ffffff;
    border-style: solid;
  }
  .home .content a:hover{
    background: rgba(255, 255, 255, 0);
    color: white;
    border: 2px;
    border-radius: 3px;
    border-color: #ffffff;
    border-style: solid;
    transition: 0.7s;
  }
  .home .content a:active{
    opacity: 0.7;
  }
  .home .media-icon{
    z-index: 888;
    display: flex;
    flex-direction: column;
    right: 75px;
    position: absolute;
    transition: 0.5s;
  }
  .home .media-icon a{
    color: #fff;
    font-size: 1.3rem;
    transition: 0.3s ease;
  }
  .home .media-icon a:not(:last-child){
    margin-bottom: 20px;
  }
  .home .media-icon a:hover{
    transform: scale(1.3);
  }
  .home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
  }
  .slider-navigation .sliders{
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 50%;
    transition: 0.3s ease;
    cursor: pointer;
  }
  .slider-navigation .sliders.active{
    background: #2696e9;
  }
  .slider-navigation .sliders:not(:last-child){
    margin-right: 10px;
  }
  .slider-navigation .sliders:hover{
    transform: scale(1.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  .video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  .video-slide.active{
    clip-path: circle(150% at 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }




  /*...................................... 2nd Section........................? */
/* ................................................................................... */
/* ................................................................................... */

  .main{
    width: 100%;
    height: 70vh;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 50px 35px;
    flex-wrap: nowrap;
    
  }
  .main div{
    transition: 0.4s;
    transition-property: scale, box-shadow, color;
    cursor: pointer;
  }
  
  .main .contentB1{
    width: 300px;
    height: 200px;
    top: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.794);
    background-image: url(11.png);
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 10px;
  }
  .main .contentB2{
    width: 300px;
    height: 200px;
    top: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.794);
    background-image: url(22.png);
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    align-items: flex-end;

    display: flex;
    margin: 10px;
    justify-content: center;
  }
  .main .contentB3{
    width: 300px;
    height: 200px;
    top: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.794);
    background-image: url(66.png);
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 10px;
    align-items: flex-end;

    position: relative;
    display: flex;
    margin: 10px;
    justify-content: center;
  }
  .main .contentB4{
    width: 300px;
    height: 200px;
    top: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.794);
    background-image: url(bbi.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    align-items: flex-end;

    display: flex;
    margin: 10px;
    justify-content: center;
  }
  .main div:hover{
    scale: 1.02;
    transition: ease-in-out 0.4s;
    box-shadow: 7px  10px 20px rgba(35, 35, 35, 0.853);

  }
  .main div:hover .theme1{
    color: #fa0101;
    transition: ease-in-out 0.4s;
    scale: 1.1;

  }
  .word1{
    position: absolute;
    top: 40px;
    color: #00141d;
    font-size: 30px;
    font-weight: 800;
  }
  .theme1{
    color: white;
    align-self: end;
    font-size: 20px;
  }


/*===============================================================================
================================================================================
========================================================================== 
==================================================================
                        LIVESTREAMING PAGE
======================================================================
======================================================================
======================================================================*/


.de-news .about-us div.live-video{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}
/* ._37u6 ._ox1{
  width: 100%;
}
._j_t ._ox1, ._j_t ._53j5, ._j_t object, ._j_t embed{
  width: 720px;
  height: auto;
}
.ev-video.svelte-bytw9t{
  width: 100%;
  /* top: 50px; */
/* }

._53j5, ._37u6 ._9kkd video{
  height: 100%;
}

div#embedvidio-98ff0d18-980d-4f87-8933-21cd315c15a4{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  /* box-shadow: 3px 3px 13px rgba(0,0,0,0.5); */

/* } 
div#embedvidio-98ff0d18-980d-4f87-8933-21cd315c15a4.live-video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.ev-video svelte-bytw9t{
  width: 100%;
  margin-top: 0;

} 
@media(max-width: 768px) {
  div#embedvidio-98ff0d18-980d-4f87-8933-21cd315c15a4{
    width: 100%;
  }
}


div#embedvidio-widget-98ff0d18-980d-4f87-8933-21cd315c15a4  div{
  width: 100%;
  /* position: relative; */
  /* right: 100px; */
  /* margin-top: 0; */

/* } */  







/*===============================================================================
================================================================================
========================================================================== 
==================================================================
                        LIVESTREAMING PAGE
======================================================================
======================================================================
======================================================================*/














/* ...............................................................................
..................................................................................
............................CHURCH SERVICE IMAGES............................ */


.dontcu {
  position: relative;
  height: 400px;
  background: #dbdbdb;
  background-image: url(beulahland.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  width: 100%;
}
.dontcu{
    display: flex;
    flex-direction: column;
    
}
.body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
    width: 240px;
    height: 320px;
    display: flex;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 25px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}

.swiper-slide:nth-child(1n) {
  background: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background: rgb(54, 94, 77);
}

.swiper-slide img {
  width: 100%;
  margin: 0;
}























/* ............................About the Bishop............................................. */
/* .............................................................................. */


.main1{
  width: 100%;
  height: auto;
  background: rgba(205, 205, 205, 0.716);
  background-image: url(img/first.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px; 
  margin-top: 20px;
  justify-content: center;
}
 .main1 .word2{
  z-index: 99;
  background: #020047;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 15px 25px;
}
.main1 .goup{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: space-between;
}
.main1 div.contentC1{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.main1 .pst-love-img {
  background: #222;
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  height: auto;
  width: 45%;
  background-image: url(papa.png);

}

 
.main1 .contentC1 h1{
  font-size: 40px;
  color:#010021;
  line-height: 25px;
}

.main1 .contentC1 p{
  z-index: 20;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  color:  #020047;
  padding-bottom: 20px;
  padding-top: 7px;

}
.main1 .contentC1 a button.pst{
    padding: 10px 30px;
    background:  #470000;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 2px;
    transition: 0.3s ease;
    border: 2px;
    border-radius: 3px;
    border-color: #ffffff00;
    border-style: solid;
    cursor: pointer;
  }
  .main1 .contentC1 a button.pst:hover{
    background: rgba(255, 255, 255, 0);
    color:  #470000;
    border: 2px;
    border-radius: 3px;
    border-color: #470000;
    border-style: solid;
    transition: 0.7s;
  }
  .main1 .contentC1 a button.pst:active{
    opacity: 0.7;

  }


  /*........................................ third  group of the page.............................  */
  /*........................................ third  group of the page.............................  */
  /*........................................ third  group of the page.............................  */

  .bp2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(beulahland.png);
    background-size: cover;
    align-items: center;
  }
  .main2{
    width: 80%;
    height: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.bp2 .main2 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
  text-align: center;
  align-items: center;
  
}
 .bp2 .main2 div h1{
  font-size: 30px;
  letter-spacing: -3px;
  line-height: 23px;
  color: #fa0101;
  font-weight: 400;
  width: 45%;
  height: 40px;
  
  
  z-index: 100;
}
.bp2 .main2 div h1 span.nam{
  font-weight: bold;
  color: #00141d;
  z-index: 101;
}
section .main2 div p{
  width: 60%;
  margin-top: 20px;
  
  z-index: 102;

}
/* @media(max-width: 425px){
  h1.church{
    margin-top: 25px;
  }
} */



  


/*...................................... Forgiveness page..............................  */


.forgive{
  width: 100%;
  height: 80vh;
  display: flex;
  align-content: center;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.forgive .main3{
  background: #00141dab;
  width: 100%;
  height: auto;
  background-image: url(1.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  align-items: center;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}
.forgive .main3 .word4{
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  color: #e7e5e5;
  text-align: center;
}
.forgive .main3 .word5{
  font-size: 13px;
  font-weight: 500;
  color: #e7e5e5;
  text-align: center;
  padding: 10px 0;
}
.forgive .main3 button.repent{
  width: 400px;
  height: 50px;
  padding: 5px 5px;
  background: #ffffff;
  color: #00141d;
  margin-top: 30px;
  
  bottom: -40px;
  border: 0;
  border: 10px;

  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  

}

@media(max-width: 425px) {
  .forgive .main3 button.repent{
    width: 60%;
  }
}


.forgive .main3 button.repent a{
  color: #00141d;
}
.forgive .main3 button.repent a:active{
  background: #ffffff00;
  border: 2px solid #fff;
  color: white;
}
.forgive .fulscreen{
  position: absolute;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.257);
  color: #ffffff;
  z-index: 999;
  height: 70%;
  width: 85%;
  backdrop-filter: blur(5px);
}
.flex-contain-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.473);
  box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.7);
  font-size: 30px;
  transition: all 0.4s;
}

.forgive .flex-contain-center button.amen{
  font-size: 25px;
  font-weight: 700;
  width: 30%;
  background: #fff;
  color: #010021;
  margin-top: 30px;
  border: none;
  padding: 10px 0;
  
  cursor: pointer;
  transition: ease-in-out 0.4s;
  transition-property: box-shadow, color, background, outline;

}
/* @media(max-width: 425px) {
  .forgive .flex-contain-center button.amen{
    width: 30%;
  }
} */
.forgive .flex-contain-center button.amen:hover{
  box-shadow: 5px 8px 13px rgba(0, 0, 0, 0.4),
              -0 -5px 13px rgba(0, 0, 0, 0);
  outline: 3px solid white;
  background: rgba(0, 0, 0, 0.602);
  color: white;


}
.forgive .flex-contain-center button.amen:active{
  opacity: 0.3;
  transition: ease-out 0.4s;

}


.hidden1{
  display: none;
}

@media (max-width: 425px){
.flex-contain-center{
  font-size: 15px;
}
.forgive .flex-contain-center button.amen{
  width: 50%;
  font-size: 20px;
}
}





/* ........................................................................................
....................................................................................................
............................................................................................. */
.bp4{
  width: 100%;
  height: 600px;
  padding: 50px 0 0 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
}
.testimony{
  text-align: center;
  color: #020047;
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 20px;
  position: absolute;

  
}
  .testimony:before{
  content: '';
    position: absolute;
    background:#020047;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }

  .testimony:hover:before{
  width: 75%;
  
}

.group{
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
}

.swiper-container{
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin: 0;
  position: relative;
  
  background: #c8c8c867;
  transition: all 0.3s;
}
.swiper-container img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.test-text{
  color:rgb(0, 0, 0);
  text-align: center;
  width: auto;
  margin-bottom: 10px;
}
.swiper-container p{
  width: 100%;
  font-size: 12px;
  margin-bottom: 30px;
  font-weight: 500;
  padding: 10px;
}
.swiper-container:hover{
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 7px  14px 40px rgba(0, 0, 0, 0.657);

}

.down{
  display: flex;
  background: linear-gradient(to right, #00141d 0%, #2f0000 100%);
  height: 450px;
  width: 100%;
  border-top-left-radius: 100px;
  align-items: stretch;
  padding: 50px;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  overflow: hidden;
  flex-wrap: wrap;
}
.downlist{
  width: 20%;
  height: auto;
  color: #fff;
}
.abc{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.downlist img{
  width: 100px;
  margin-bottom: 20px;
}
.downlist h1{
  margin-bottom: 75px;
  transition: all 0.4s;
  cursor: pointer;
  width: 70%;
}
.downlist h1:hover{
  color: #fa0101;
}



.downlist p{
  margin-bottom: 30px;
}
.downlist ul{
  list-style: none;
}
.downlist ul li{
  margin-bottom: 20px;
  
}
.downlist ul li a{
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  transition: all 0.4s;
}
.downlist ul li a:hover{
  color: #fa0101;
}

.form{
  display: flex;
  flex-direction: column;
}
form.form{
  justify-content: center;
  display: flex;
  align-items: center;
}
.form-contain{
  width: 100%;
  flex-direction: column;
  display: flex;
  text-align: center;
}
.name{
  padding: 7px 12px;
  margin-bottom: 15px;
  border: none;
}
.Email{
  padding: 7px 12px;
  margin-bottom: 10px;
  border: none;
}
.sub{
  padding: 10px 30px;
  background: #f05757;
  
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
  text-align: center;
  width: 100%;
}
.sub:hover{
  opacity: 0.9;
  transition: 0.3s;
}
.copy{
  color: white;
  text-align: center;
  position: absolute;
}



/* ===========NEWS PAGE==============
===================================== */


.pag1{
  height: 100%;
  width: 100%;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.news-page{
  width: 100%;
  height: 300px;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(img/city.jpg);
  background-size: cover;
  background: #00001dee;
  background-blend-mode: soft-light;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.692);
  color: #ffffff;
  padding: 10px;
  padding-top: 130px;
  flex-direction: column;
}
.pag1 .news-page div.media-icon a{
  color: #ffffff;

}
.pag1 .news-page div.media-icon{
  bottom: 0;
}
.news-page h1{
  color: #ffffff;
  font-size: 35px;
  font-weight: bolder;
  
}
.pag1 .de-news{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 20px;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
}
.yers{
  color: #010021;
  font-size: 30px;
  font-weight: 900;
  margin: 30px 0;
  cursor: pointer;
  
  
}
  @media (max-width: 768px){
    .pag1 .de-news div, div.secod{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      text-align: center;
    }
    .pag1 .de-news div.secod{
      flex-direction: column-reverse;
      display: flex;
    }
    .pag1 .de-news div img{
      margin: 0;
      margin-bottom: 30px;
      width: 80%;

    }
    .pag1 .de-news .secod img{
      margin: 0;
      margin-bottom: 30px;
      margin-top: 10px;
      width: 80%;

    }
  }




.de-news div{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.de-news div img{
  width: 50%;
  height: 50%;
  margin: 30px;
  margin-top: 0;
}
div.wert{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  
}
.wert h1{
  color: #2f0000;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.de-news .secod{
  flex-direction: row-reverse;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.de-news .secod div img{
  width: 50%;
  height: 50%;
  margin: 30px;
  margin-top: 0;
}
div.wert{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  
}
.wert h1{
  color: #2f0000;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

/* ===============================================================================================================
=============================================THIRD PAGE{SERVICE}=====================================================================
================================================================================================================== */
.de-news .all-services{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.our-service, .our-service-one{
  padding: 5px 10px;
  color: #ffffff;
  background: #fa0101;
  border-radius: 3px;
  width: auto;
  height: auto;
  border: none;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0;
}
.our-service-two{
  padding: 5px 10px;
  color: #ffffff;
  background: green;
  border-radius: 3px;
  width: auto;
  height: auto;
  border: none;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0;
}
.our-service-three{
  padding: 5px 10px;
  color: #ffffff;
  background:blue;
  border-radius: 3px;
  width: auto;
  height: auto;
  border: none;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0;
}
.our-service-four{
  padding: 5px 10px;
  color: #ffffff;
  background: #ac0050;
  border-radius: 3px;
  width: auto;
  height: auto;
  border: none;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0;
}
.midweek-service{
  padding: 5px 10px;
  color: #ffffff;
  background: #fa018a;
  border-radius: 3px;
  width: auto;
  height: auto;
  border: none;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0;
}
.midweek-service, .our-service, .our-service-one, .our-service-two, .our-service-three, .our-service-four{
  padding: 10px 40px;
}

/* ============================================================================================================================================
/* ============================================================================================================================================
/* ============================================================================================================================================
                                                                FOUTH PAGE [ABOUT]
/* ============================================================================================================================================
/* ============================================================================================================================================
================================================================================================================================================ */




.de-news .about-us{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(beulahland.png);
  background-size: cover;
  background: #e7e5e5;
  background-blend-mode: overlay;
  flex-direction: column;
  box-shadow: 15px 10px 30px rgba(54, 54, 54, 0.74);
  padding: 10px;
  text-align: center;


}
.about-us .us-page{
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  
}
.about-us .us-page h1{
  margin-bottom: 10px;
  font-size: 30px;
  color: #fa0101;
}
.us-page p{
  font-weight: 400;
}
.about-us .plain-text{
  width: 80%;
  height: auto;
  background: #010021;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}
.de-news .another-about{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/first.jpg);
  background-size: cover;
  background: #e7e5e5;
  background-blend-mode: overlay;
  flex-direction: column;



}
.more-about{
  margin: 20px 0;
  width: 30%;
  height: auto;
  background: #010021;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px){
 .more-about{
  width: auto;
  padding: 10px;
  font-size: 25px;
 } 
}


.more-cont .pst-love-img{
  width: 50%;
  height: 350px;
  background-image: url(img/img.png);
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  background: #222;
}
.another-about .more-cont{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}
.more-cont div{
  display: flex;
  flex-direction: column;
}
.more-cont div h1{
  font-size: 35px;
  font-weight: 800;
  color: #010021;
}


/* ======================================================================================= */
/* =====================FIFTH PAGE [CONTACT US]============================================== */
/* ======================================================================================= */

.de-news div.address{
  display: flex;
  flex-direction: column;
  width: 38%;
}

@media(max-width: 768px){
  .de-news div.address{
    width: 80%;
  }
  .de-news div.location div.map{
    width: 80%;
    margin: 15px 0;
    
  }
  div.map iframe{
    width: 80%;
  }
  .de-news div.location{
    display: flex;
    flex-direction: column;
  }
}




.de-news div.address h1{
  color: #fa0101;
  font-size: 25px;
  font-weight: 600;
}
.de-news div.address div{
  height: 2px;
  left: 0;
  width: 70%;
  background: #010021;
  margin: 20px 0;

}
.de-news div.address a{
  font-size: 15px;
  font-weight: bold;
}
.de-news div.address a i{
  padding-right: 8px;
}

.de-news div.location .map{
  width: 100%;
  height: auto;
  margin-left: 40px;
  margin-bottom: 40px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.678);
  padding: 30px;
}

div.map iframe{
  width: 100%;
  height: 400px;
}










/* =================================================================================================================
======================================.Reponsiveness of the Website================================================= */



  @media (max-width: 1024px){
    header{
      padding: 5px 25px;
      font-size: 12px;
    }
    .main{
      height: 100%;
      justify-content: space-evenly;
      display: flex;
    }
    .bp2 .main2 div{
      display: flex;
      justify-content: space-evenly;
      height: 300px;
    }
    .main1{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    section .main1 div.pst-love-img{
      left: 300px;
    }
    .swiper-container{
      width: 25%;
    }
    .down{
      flex-wrap: wrap;
      padding: 20px;
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
    }
    .downlist{
      width: 20%;
      align-items: center;
    }
    .form-contain{
      width: 100%;
      align-items: center;
    }
    .form div{
      display: flex;
      align-items: center;
    }
  }

  

 
  
  @media(max-width: 768px){
    header{
      padding: 12px 20px;
    }
    section{
      padding: 50px 0;
    }
    .home .media-icon{
      right: 15px;
    }
    header .navigation{
      display: none;
      
    }
   header .giving{
    right: 200px;
    font-size: 10px;
    padding: 7px 15px;
   }
   header .livestream{
    right: 60px;
    font-size: 10px;
    padding: 7px 15px;
    position: absolute;

   }
   .home{
    width: 100%;
    height: 100vh;
   }
      
      .home .content{
         width: 100%;
         max-width: 500px;      
       }
        .home .content h1 .hi{
        font-size: 10px;
    }
    .main{
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .bp2{
      position: relative;
      height: 400px;
    }
    .bp2 .main2{
      height: 100%;
    }
    .bp2 .main2 div{
      height: 100%;
      position: relative;
      display: flex;
      justify-content: space-evenly
    }
    div.main1{
      width: 100%;
      height: auto;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      }
      .main1 .goup{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-top: 30px;
        
      }
      .main1 div.contentC1{
        /* position: absolute; */
        flex-direction: column;
        top: 50px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
      }
       .main1 div.pst-love-img{
        width: 350px;
      }
      .bp4{
        height: 100%;
      }
      .group{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        margin-top: 65px;
      }
      .swiper-container{
        margin-bottom: 30px;
        width: 70%;
      }
      .down{
        flex-direction: column;
        display: flex;
        height: 100%;
        align-items: center;
      }
      .downlist{
        width: 100%;
        align-items: center;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .downlist h1{
        text-align: center;
        margin: 40px 0;
      }
      .form{
        width: 100%;
        align-items: center;

      }
      .form-container{
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0);
      }

      .detail{
        text-align: center;
      }
      input.sub{
        align-items: center;
        width: 200px;
      }
  }
  
  @media(max-width: 425px){
    header{
      width: 100%;
      max-width: 425px;
    }
    section{
      width: 100%;
      padding: 0;
    }
    .home{
      padding: 150px 20px;
      width: 100% ;
      height: 100%;
      top: 0;
      

    }
    .home .content{
      width: 100%;
    }
    .home .content h1{
    font-size: 25px;
    line-height: 30px;
    }
    .home .content a{
      padding: 5px 20px;
      font-size: 15px;
    }
    .home div.media-icon{
      z-index: 999;
      display: none;
      position: fixed;
    }
    .main{
      flex-direction: column;
      position: relative;
      display: flex;
      height: 100%;
    }
    .main div{
      margin: 0;
      margin-bottom: 25px;
    }
    .main1{
    width: 100%;
    height: auto;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: flex-end;

    }
    .main1 .word2{
      font-size: 15px;
      width: auto;
      padding: 0 8px;
      top: 10px;
    }
    .main1 div.goup{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      max-height: 500px;
    }
    .main1 div.contentC1{
      /* position: relative; */
      flex-direction: column;
      height: 40%;
      margin-top: 60%;
      max-width: 400px;
      display: flex;
      align-items: center;
      /* justify-content: space-evenly; */
      z-index: 9;
      padding-bottom: 20px;
    }
    .main1 div.contentC1 h1{
      text-align: center;
      color: yellow;
    }
    .main1 div.contentC1 p{
      margin: 0;
      padding: 0;
      /* bottom: 40px; */
      text-align: center;
      color: wheat;
    }
    section .main1 div.pst-love-img {
      width: 100%;
      left: 0;
      border-radius: 0;
      border: none;
      bottom: 30px;
      z-index: 7;
      top: 0;
      position: absolute;
    }
    .bp2 .main2{
      background: #1313138a;
      width: 100%;
      height: 400px;
      left: 50%;
      right: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 0 20px;
    }
     
    .bp2 .main2  h1.church{
      color: #ff0000;
      width: 80%;
      line-height: 30px;
      font-size: 30px;
      font-weight:800;

      
    }
    .bp2 .main2  h1 span.nam{
      color: #ffffff;
    }
    .main2  p{
      font-weight: 500;
      color: #fff;
      margin-top: 20px;
    }
    .bp4{
      width: 100%;
      height: 100%;
      position: relative;
      padding-top: 30px;
    }
    .bp4 .group{
      flex-direction: column;
      display: flex;
      height: auto;
      margin-top: 70px;
      margin-bottom: 30px;
      
    }
    .swiper-container{
      width: 70%;
      position: relative;
      margin-bottom: 40px;
    }
      div.down{
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
      }
      div.downlist{
        width: 100%;
        
        align-items: center;
      }
      div.downlist h1{
        width: 80%;
        margin: 40px 0;
      }
      div.form-contain input{
        width: 80%;
      }
  }